<% provide(:title, @user.name) %>
<div class="row">
  <h1><b>Profile Page</b></h1>
  <aside class="span4">
    <section>
      <h1>
        
        <%= gravatar_for @user %>
        <em><%= @user.name %></em><br>
        <em><%= "Age:#{Random.rand(20..40) }years" %></em>
      </h1>
    </section>
    <section>
    	<%= link_to "Go to #{current_user.name}'s home page", root_path,
                                class: "btn-primary" %>
    </section>
  </aside>
   <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>