<% if current_user.name[0].upcase=="k" %>
   <%= link_to image_tag("http://lh3.ggpht.com/-sKqeawbQYyk/T8xmD5HDQgI/AAAAAAAABmU/AOTNdBBezFc/419427_287405694660847_100001742571934_686862_1040214823_n_thumb.jpg?imgmax=800"), current_user %>
<% elsif current_user.name[0].downcase=="l" %>
   <%= link_to image_tag("http://georgianeye.com/wp-content/blogs.dir/00/04/95/42/4954232/files//2012/06/angry-baby.jpg"), current_user %>   
<% elsif current_user.name[0].downcase=="n" %>
   <%= link_to image_tag("http://midwestwinepress.com/wp-content/uploads/2011/11/iStock_000017003512Small-300x199.jpg"), current_user %>    
<% else %>
    <%= link_to gravatar_for(current_user, size: 52), current_user %>
<% end %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>

	

